@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Remove barras de rolagem */
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #007bff;
    color: #fff;
}

.navbar, .footer {
    display: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('C:/Users/Usuario/Desktop/pc/project-root/images/background.jpg') no-repeat center center fixed;
    background-size: cover; /* Certifique-se de que a imagem cobre todo o fundo */
    transition: transform 0.1s ease-out; /* Suaviza a transição */
}

